/*********** GLOBAL ****************************************/


* {
    font-family: "Archivo";
    }

body {
    /* background-image: url("../assets/img/arcbzc_estacion_gral.png"); 
    background-blend-mode: soft-light;
    background-size: 100%; */
    background: rgb(0, 63, 102);
}

a {
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

  /*******  MOBILE  ***********************************/
  /* On screens that are 600px or less */
  @media screen and (max-width: 600px) {
    .navbar {
        position: flex;
        display: inline-block;
        top: 0%;
        left: 0%;
        width: 100%;
        padding: 5%; 
        padding-left: 0%;
        margin-block: 5%;
        /*background-color: #333;*/
    }

    .navbar a {
        float: none;
        width: 100%;
      }
  }

/***************** COMPONENTES ***************************/

.navbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px; 
    padding-left: 0%;
    margin-bottom: 15px;
    /*background-color: #333;*/
}

/*
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
*/

.navbar :hover{
    background-color: teal;
}

.main_container {
    display: flex;
    flex: 100%;
    padding-top: 20%;
    flex-direction: column;
}

.section {
    flex: 70%;
    padding-top: 5%;
}

.footer {
    position: fixed;
    text-align: center;
    left: 0%;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 5px;
}

.iframe {
    position: fixed;
}

.item {
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

/*********  TABLET  ***********************************/
/*
@media screen and (max-width: 992px) {
    body {

    }
  }
*/


