/*********** GLOBAL ****************************************/

* {
    font-family: "Archivo"
}

body {
    /* background-image: url("../assets/img/arcbzc_estacion_gral.png"); 
    background-blend-mode: soft-light;
    background-size: 100%; */
    background-color: rgb(146, 174, 185);
}

a {
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

  /*******  MOBILE  ***********************************/
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        width: 100%;
      }
  }

/***************** COMPONENTES ***************************/

.navbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px; 
    padding-left: 0%;
    margin-bottom: 15px;
    /*background-color: #333;*/
}

/*
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
*/

.navbar :hover{
    background-color: teal;
}

.container {
    display: flex;
    flex: 100%;
    padding-top: 10%;
    flex-direction: column;
}


.section {
    flex: 70%;
    padding-top: 5%;
}

.footer {
    position: fixed;
    text-align: center;
    left: 0%;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 5px;
}

.footer {
    position: fixed;
    text-align: center;
    left: 0%;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 5px;
}

.iframe {
    position: fixed;
}

/*********  TABLET  ***********************************/
/*
@media screen and (max-width: 992px) {
    body {

    }
  }
*/


