/*********** GLOBAL ****************************************/


* {
    font-family: "Archivo";
    font-size: 1.05em;
    }

body {
    /* background-image: url("../assets/img/arcbzc_estacion_gral.png"); 
    background-blend-mode: soft-light;
    background-size: 100%; */
    background: rgb(0, 63, 102);
    
}

a {
    color: rgb(246, 242, 225);
    text-decoration: none;
    text-align: center;
}


  /*******  MOBILE  ***********************************/
  /* On screens that are 600px or less */
/*
  @media screen and (max-width: 600px) {
    nav ul {
        display: inline-flex;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-direction: column;        
    }

    /*    .navbar {
        position: flex;
        display: inline-block;
        top: 0%;
        left: 0%;
        width: 100%;
        padding: 5%; 
        padding-left: 0%;
        margin-block: 5%;
    }

    .navbar a {
        float: none;
        width: 100%;
      }
  }
*/

/***************** COMPONENTES ***************************/
/*
.navbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px; 
    padding-left: 0%;
    margin-bottom: 15px;
    /*background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
*/


/***************** navigation bar ***************************/

header{
    position: fixed;
    width: 100%;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo_png{
    height: 2em;
    float: left;
    /*    overflow: hidden;
    margin-top: -6px;
*/
} 

nav {
    float: right;
}

nav a {
    margin: 0em;
    padding: 0.5em;
}

nav a:hover{
    color: rgb(0, 63, 102);
    background-color: rgb(246, 242, 225);
}

nav a::before{  
    content: '';
    position: absolute;
    transition: all ease-in-out 250ms;
}

nav ul {
    margin: 0;
    align-content: center;
    padding: 0;
    list-style: none;
}

nav li {
    font-weight: 400;
    display: inline-block;
    margin-left: 70px;
    padding-top: 5px;
    position: relative;
}

.container {
    display: inline-block;
    width: 80%;
    margin: 1em;
/*    display: flex;
    flex: 100%;
    padding-top: 20%;
    flex-direction: column;
*/
}

.footer {
    font-size: 0.8em;
    position: fixed;
    text-align: center;
    left: 0%;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 5px;
}

.iframe {
    position: fixed;
}

/*********  TABLET  ***********************************/
/*
@media screen and (max-width: 992px) {
    body {

    }
  }
*/


